@import "tailwindcss";

body {
  font-family: "Montserrat";
}
@theme {
  --color-blue: hsl(237, 63%, 64%);
  --color-violet: hsl(236, 72%, 79%);
  --color-very-light-grayish-blue: hsl(240, 78%, 98%);
  --color-light-grayish-blue: hsl(234, 14%, 74%);
  --color-grayish-blue: hsl(233, 13%, 49%);
  --color-dark-grayish-blue: hsl(232, 13%, 33%);
  --color-white: hsl(0, 0%, 100%);
}

h2 {
  @apply text-[18px]
  font-bold mt-10;
}

main span {
  @apply text-[72px] font-bold mt-3;
}
ul {
  @apply mt-5
}
 ul > li {
  @apply font-bold h-[52px] w-[267px] border-t border-light-grayish-blue flex items-center justify-center;
 }

 button {
  @apply tracking-[2px] w-[267px] h-[44.55px] text-[13px] rounded-[5px] font-bold mt-5;
 }